body {
  margin: 0;
  padding: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}

.content {
  padding: 20px;
}

h1, h2 {
  color: #333;
}

p {
  line-height: 1.6;
}

a {
  color: hsl(270, 70%, 65%);
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th {
  background-color: #cfcfcf;
  text-align: left;
  padding: 10px;
  border: 1px solid #c0c0c0;
}

td {
  padding: 10px;
  border: 1px solid #c0c0c0;
}

tr:nth-child(even) {
  background-color: #eeeeee;
}

.table-container {
  overflow-x: auto;
}